@model string

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>
        @ViewBag.filename
    </h4>
    <hr />

 

        <div class="form-actions no-color">
            @Html.ActionLink("Delete", "DeleteConfirmed", new { filename = @ViewBag.filename })
            @Html.ActionLink("Back to List", "Index")
        </div>
   
</div>
